/* Nav Bar */
.body {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
}
.navbar {
    font-size: 30px;
    list-style-type: none;
    margin-top: 20px;
    background-color: black;
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    float: none;
    width: 100%;
}
.navbarbutton {
    float: right;
}

.navbarbutton a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 60px;
    text-decoration: none;
}
.navbarbutton a:hover {
    background-color: #333;
}
.heading1 {
    background-image: linear-gradient(gray,black);
    margin-top: -25px;
    margin-bottom: -20px;
    padding-top: 5px;
    padding-bottom: 5px;
    color: white;
    text-align: center;
    font-size: large;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

/* Bottom of Page */

.page_end {
    background-image: linear-gradient(rgba(255, 255, 255, 0),black,black);
    width: 100%;
}

.page_end-text {
    font-size: medium;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 2.5%;
    text-align: left;
}
/* Home and About me CSS */
.video {
    text-align: center;
    padding-top: 5%;
}
.column_photo {
    float: left;
    width: 20%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px;
    margin-right: 20px;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
    text-align: center;
  }

.abt_me_text {
    padding-left: 10px;
}



/* Project CSS */

.intro {
    background-image: url(showcase_china.png);
    padding-top: 120px;
    padding-bottom: 120px;
    max-height: 100%;
    color: white;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

/* Project Column styling */
.column {
    float: left;
    width: 50%;
    font-family: Arial, Helvetica, sans-serif;
  }
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

.proj_column_content {
    background-color: white;
    margin: 10px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

.showcase {
    padding: 20px;
    text-align: center;
}

